body {
  background-image: url('/img/pback.jpg');
  background-attachment: fixed;
    background-size: cover;
  padding-top: 0px;
  color: #ffffff;
font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#instafeed {
  margin-left: -3px;
  margin-right: -3px;
}

#instafeed a {
  overflow: hidden;
  float: left;
  margin: 3px;
  border-radius: 2px;
  overflow: hidden;
  width: calc(100% / 2 - 6px);
}

#instafeed a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 !important;
}


.social a {
color: #ffffff;
text-decoration: none;
}


.social a:hover {
text-decoration: none;

color: #ffffff;
background-color: #f5fb15!important;
border-color: #f5fb15!important;
}
.social a:focus {
color: #ffffff;
text-decoration: none;
background-color: #f5fb15!important;
border-color: #f5fb15!important;
}


user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

.navbar-default {
background-color:  #ffffff;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #f5fb15;
}
.navbar-default .navbar-brand {
  color:#f5fb15;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
  color:#ffffff;
  background-color: #f5fb15;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#ffffff;
  background-color: #fc78a8;
}
.pattern {
  background-image: url('/img/pback.jpg');
}
.btn-pink {
  padding: 3px;
    color: #ffffff;
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #222;
}

.btn-pink:focus,
.btn-pink:active:focus,
.btn-pink.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-pink:hover,
.btn-pink:focus {
  color: #ffffff;
  background-color: #f5fb15;
  text-decoration: none;
}
.btn-pink:active,
.btn-pink.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-purple {
  padding: 3px;
    color: #ffffff;
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #222;
}

.btn-purple:focus,
.btn-purple:active:focus,
.btn-purple.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-purple:hover,
.btn-purple:focus {
  color: #ffffff;
  background-color: #fc78a8;
  text-decoration: none;
}
.btn-purple:active,
.btn-purple.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}



[class*="bg__"] {
  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */


  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

/* parralax scrolling backgrounds for later */


.bg__pink {
  background-image: url('/img/pback.jpg');

  );
   
}

.bg__blue {
  background-image: url(
    /img/FISH.jpg
  
  );
  
}

.bg__green {
  background-image: url(
    /img/REDFACE.jpg
  );
    
}

.bg__yellow {


  background-image: url(
    /img/patternyellow.jpg
  );
}

/* contact form */
.input-field {
height: 46px;
padding: 5px 5px 5px 18px;
margin: 5px;
font-size: 22px;
line-height: 1.33;
border-radius: 6px;
color: #222;
}


/* container and font styling */

.white {
     background-color: #ffffff;
     color: #222;
}

.black {
     background-color: #222;
     color: #222;
}

.seafoam {
         background-color:rgba(251,3,107,1);
}

.yellow {
      background-color:rgba(251,3,107,0.5);
}
.white-font {
  color: #ffffff;

}


.black-font {
  color: #000;
}
.pink {
background-color: #f5fb15;
}
.pink-font {
  color:#ff0056;
}
.blue-font {
  color: #5A26FF;
}
.purple-font {
  color: #a7a7a7;
}

.black-font {
  color: #222;
}
.purple {
  background-color: #a7a7a7;
}
.red {
  background-color: #fe0427;
}
.footer {
  
  text-align: center;
  padding: 40px;


}
.lavender-font {
  color: #ff26dc;
}
.footer a {
color: #2e0101;
text-decoration: none;
}

.giant {
  font-size: 150px;
}




h5,
.h5  {
    font-size: 18px;
   font-weight: 200;
  line-height: 1.4;
}

.sux {
  font-size: 35px;
  font-weight: 300;
}

.suxy {
  font-size: 28px;
  font-weight: 240;
}
.is {

  font-size: 32px;
  font-weight: 300;
}



h1,
.h1 {


    font-size: 60px;
  line-height: 1.4;
}

h2,
.h2 {
  font-size: 60px;
     font-weight: 500;
  line-height: 1.4;

}

h3,
.h3 {
  font-size: 45px;
}



h4,
.h4 {


    font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
}

h6,
.h6 {
    color: #fee5c7;

    font-size: 18px;
     font-weight: 200;
  line-height: 1.4;
}


/* navbar adjustment */

.navbar {
  margin-bottom: 0px;
}
.navbar-brand {
  padding: 10px;
}

a {
text-decoration: none;
font-size: 14px;
color: #c33364;
}

li a {
text-decoration: none;
font-size: 14px;
}

.title {
text-decoration: none;
color: #545353;
}


.headline {

  font-size: 30px;
     font-weight: 200;
  line-height: 1.4;
  padding-top: 40px;
    padding-bottom: 40px;
}







.input-field {
 height: 46px;
  padding: 5px 5px 5px 18px;
  margin: 5px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
  color: #222;


}


.big {

  font-size: 45px;
     font-weight: 200;
  line-height: 1.4;
  
}

.black {
  background-color: #222;
}

p {
  font-size: 18px;
   font-weight: 200;
  line-height: 1.4;
}

/* container padding */

.padded-big {
  padding-top: 100px;
    padding-bottom: 100px;

}
.padded-med {
  padding-top: 65px;
    padding-bottom: 100px;

}

.padded-e {
  padding-top: 65px;
    padding-bottom: 65px;

}



.padded-sm {
  padding-top: 35px;
    padding-bottom: 100px;

}


.social {
  
  text-align: center;
  padding: 15px;


}

.center { 
  text-align: center;
}

.social a {
color: #ca754f;
text-decoration: none;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}




ul {
  list-style-type: none;
  padding:0; 
  margin:0;
  text-decoration: none;

}

li {
  list-style-type: none;
  padding:0; 
  margin:0;
    text-decoration: none;
  
}

/* mobile */

@media only screen and (max-width: 767px) {
.sux {
  font-size: 18px;
  font-weight: 200;
}

.suxy {
  font-size: 18px;
  font-weight: 200;
}

.giant {
  font-size: 35px;
}
body {
  background-color: #f5fb15;
    background-image: url('');


}
   h1 {
      font-size: 25px;
   }

   h2 {
      font-size: 21px;
   }

   h3 {
    font-size: 18px;
   }

   .btn {
    display: block;
   }
   button.btn {
  display: block;
width: 100%;
}

.container {
  margin-left: 10px;
  margin-right: 10px;

}

.input-field {
  width: 100%;
}
.big {
  font-size: 20px;
}

.padded-big {
  padding-top: 40px;
    padding-bottom: 40px;
}

.padded-med {
  padding-top: 25px;
   padding-bottom: 25px;
}




#link a { 
 
    text-decoration: none;
  font-size: 18px;

  color: #f5fb15;

 }
#link a:hover, a:focus { 
   color: #f5fb15;
 background-color: transparent;
  text-decoration: none;
}
}


