body {
  background-image: url('/img/feet2.jpg');
  background-attachment: fixed;
  padding-top: 0px;
  color: #fee5c7;

}



.pink {
  color: #FA7373;
}

.footer {
  
  text-align: center;
  padding: 40px;


}

.footer a {
color: #2e0101;
text-decoration: none;
}

.giant {
  font-size: 88px;
}

.lr-txt
{
  color: #661414;
}
.dr-txt
 { 
  color: #2f0202;
 }
 
 .lr-bg
{
  background-color: #661414;
}
.dr-bg
 { 
  background-color: #2f0202;
 }

.navbar-inverse .navbar-nav > li > a {
color: #A63A3A;
}

.navbar-inverse .navbar-brand {
color: #A63A3A;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #FA7373
}
.navbar { 
margin-bottom: 0px;
}

a:hover, a:focus { 
  background-color: #410505!important;
  color: #984e25!important;
}
.thumbnail {
display: block;
padding: 1px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #a99797;
border: 1px solid #fa3f3f;
border-radius: 0px;
}

.btn-success {
color: #fff;
background-color: #fc001e;
border-color: #fc001e;

}

.btn-success a:hover, a:focus  {
color: #fff;
background-color: #cb4646!important;
border-color: #cb4646!important;
}

h5,
.h5  {
    font-size: 18px;
   font-weight: 200;
  line-height: 1.4;
}

h1,
.h1 {


    font-size: 35px;
  line-height: 1.4;
}

h2,
.h2 {
  font-size: 30px;
     font-weight: 200;
  line-height: 1.4;

}

h3,
.h3 {
  font-size: 26px;
}



h4,
.h4 {
    color: #fee5c7;

    font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
}

h6,
.h6 {
    color: #fee5c7;

    font-size: 18px;
     font-weight: 200;
  line-height: 1.4;
}

.headline {

  font-size: 30px;
     font-weight: 200;
  line-height: 1.4;
  padding-top: 40px;
    padding-bottom: 40px;
}
}
.leadline {
  background-color: #541e12;

  }

.circle {
  font-size: 8px;
  vertical-align: middle;
  color: red;
}


.grey {
  background-color: #34020b;
}

.btn-subscribe {

  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #222;
}

.btn-subscribe:focus,
.btn-subscribe:active:focus,
.btn-subscribe.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  color: #FA7373;
  background-color: #444444;
  text-decoration: none;
}
.btn-subscribe:active,
.btn-subscribe.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-shop {
  padding: 3px;
    color: #FA7373;
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #222;
}

.btn-shop:focus,
.btn-shop:active:focus,
.btn-shop.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-shop:hover,
.btn-shop:focus {
  color: #FA7373;
  background-color: #444444;
  text-decoration: none;
}
.btn-shop:active,
.btn-shop.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}




.input-field {
 height: 46px;
  padding: 5px 5px 5px 18px;
  margin: 5px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;


}

.signup {

  background-color: #ca2222;
  padding: 3px;
  color: #fee5c7;




}

.navbar {
  font-size: 15px;
}

.feetback {
}

.btn-faded {
margin: 0px, 20px, 20px, 20px;
text-decoration: none;
color: #2e0101;
background: transparent;
border-color: #2e0101;
border-width: 2px;


}

.btn-lipstick {
margin: 0px, 20px, 20px, 20px;
text-decoration: none;
color: #fb001f;
background: transparent;
border-color: #2e0101;
border-width: 0px;


}

.btn-cart {
margin: 0px, 20px, 20px, 20px;
text-decoration: none;
  color: #FA7373;
  background-color: #444444;
 font-size: 50px;
     font-weight: 200;
  line-height: 1.4;


border-color: #2e0101;
border-width: 0px;


}
.btn-cart:focus,
.btn-cart:active:focus,
.btn-cart.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-cart:hover,
.btn-cart:focus {
  color: #FA7373;
  background-color: #444444;
  text-decoration: none;
}
.btn-cart:active,
.btn-cart.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


.reliefleft {
      border-left: 2px solid;
         border-bottom: 2px solid;
            border-top: 2px solid;
border-color: #2e0101;
border-width: 2px;

}

.reliefright {
          border-right: 2px solid;
         border-bottom: 2px solid;
            border-top: 2px solid;
  border-color: #2e0101;

}

.item-listings {

  font-size: 22px;
     font-weight: 100;
  line-height: 1.4;
   color: #fee5c7;
}
.contact-small {

  font-size: 35px;
     font-weight: 200;
  line-height: 1.4;
   color: # ;
}
.big {

  font-size: 45px;
     font-weight: 200;
  line-height: 1.4;
  
}
.thin {
       font-weight: 200;
  line-height: 1.4;
}

.ziz {
  background-image: url('/img/ziz.png');
}
.address-green {
  color: #514e1d;
}
blockquote {
  border-left: 5px solid #2e0101;
}

.blockquote-reverse {
  border-right: 5px solid #2e0101;
}
.black {
  background-color: #222;
}

p {
  font-size: 16px;
   font-weight: 200;
  line-height: 1.4;
}

.pink {
color: #FA7373;
}

.lipstick {
color: #fb001f;
}

.cream {
color: #fee5c7;
}
.pea {
color: #8c8632;
}
.kale {
color: #514e1d;
}
.peach {
color: #ca754f;
}
.coal {
color: #2f0202;
}
.brown {
color: #661414;
}
.umber {
color: #A63A3A;
}
.mahogony {
color: #2e0101;
}

.blood {
  background-color: #292020;
}
.padded-big {
  padding-top: 100px;
    padding-bottom: 100px;

}
.padded-med {
  padding-top: 65px;
    padding-bottom: 100px;

}

.social {
  
  text-align: center;
  padding: 40px;


}

.social a {
color: #ca754f;
text-decoration: none;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
  font-size: 18px;
   color: #661414;
}

ul {
  list-style-type: none;
  padding:0; 
  margin:0;
  text-decoration: none;

}

li {
  list-style-type: none;
  padding:0; 
  margin:0;
    text-decoration: none;
  
}
