#fc_cart_controls_top a, #fc_cart_controls_bottom a, #fc_checkout_container a.fc_link_nav, #fc_receipt_links a.fc_link_nav, #fc_checkout_container button.fc_button {
padding: 3px;
    color: #2f0202;
  display: inline-block;
  padding: 8px 30px;
  margin: 5px;
  font-size: 22px;
     font-weight: 200;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ca754f;
}
#fc_cart_controls_top a:hover, #fc_cart_controls_bottom a:hover, #fc_checkout_container a.fc_link_nav:hover, #fc_receipt_links a.fc_link_nav:hover, #fc_checkout_container button.fc_button:hover {
 color: #FA7373;
  background-color: #444444;
  text-decoration: none;

}

#fc_cart_table thead th {
    background: none repeat scroll 0 0 #8c8632;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;

}

legend {
  color: #292020;
}

#fc_cart_table td, #fc_cart_table th {
    color: #666666;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;

}

#fc_checkout_container label.fc_pre, #fc_checkout_container span.fc_pre, #fc_receipt_container span.fc_pre {
    float: left;
    line-height: 1;
    padding: 0.2em 1em 0 0;
    text-align: left;
    width: 15em;
    font-size: 22px;

color: #fee5c7;
}
label {
    display: inline-block;
    font-weight: normal;
font-size: 22px;

}


#fc_cart_controls_bottom a
{ visibility: hidden;}

#fc_checkout_container, #fc_receipt_container {
    font-size: px;
border: #ffffff;

}



input.fc_text {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
    padding: 10px;
    width: 100%;
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #999999;
background-image: none;
border: 1px solid #999999;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


#fc_checkout_container, #fc_receipt_container {
    font-size: 12px;
    display: block;
    width: 100%;

}

caption {
  font-size: 25px;
}

#fc_cart_container {
  display: block;
  width: 100%;
}

#fc_checkout_container_inner {
  display: block;
  width: 100%;
}

#fc_cart_container_inner {
  display: block;
  width: 100%;
}


#fc_cart_container input.fc_cart_item_quantity {

display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

#fc_cart_table #fc_cart_foot_total td {
    background: none repeat scroll 0 0 #514e1d;
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing: 1px;
    border: none;
}
#fc_cart_table tfoot td.fc_col1 {
    text-align: right;
}
#fc_cart_foot_total td.fc_col1 {
    color: #CCCCCC !important;
    text-align: right;
}
#fc_cart_table tfoot td {
    background: none repeat scroll 0 0 #514e1d;
    border: none;
    font-size: 18px;
}

#fc_cart_table td {
    border: none;
}

#fc_cart_table td
{
    color: #000000;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
}

#fc_cart_table th {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
}

#fc_cart_table tfoot td {
    background: none repeat scroll 0 0 #514e1d;
    border: medium none;
 color: #ffffff;
}

#fc_cart_foot_total td.fc_col1 {
    color: #ffffff !important;
    text-align: right;
}
#fc_cart_foot_total td.fc_col1 {
    color: #ffffff !important;
    text-align: right;
}

#fc_cart_container tr.fc_cart_item td {
 vertical-align: top;
}
#fc_cart_table td {
    color: #ffffff;
background-color: #514e1d;
border-bottom: 3px solid  #ffffff;


    font-size: 18px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
}

#fc_cart_container span.fc_cart_item_price_each {
    color: #ffffff;
    font-size: 9px;
}

body {
  padding: 0px;
}

#fc_continue, #fc_complete_order_button_container {
    clear: both;
    float: right;
    padding: 0em 0 0em 0em;

  color:#ffffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #ca754f;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
#fc_checkout_container input.fc_text {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #ccc;
}

#fc_cart_table .fc_cart_remove_link {
    color: #ffffff;
    text-decoration: none;
}

#fc_cart_container li.fc_cart_item_option {
  font-size: 14px;
  color: #ffffff;
}


@media (max-width: 767px){
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
margin-right: 0px;
margin-left: 0px;}

}
#fc_checkout_container ul.fc_foxycomplete_list li p {
  color: #2f0202;
}

.radio, .checkbox {
display:inline;
}

#fc_checkout_container label.fc_pre, {
float: none;
}

#subtotal_formatted {
  font-size: 22px;
}

#shipping_cost_formatted {
  font-size: 22px;
}

#tax_formatted {
    font-size: 22px;
  }

#order_total_formatted {
    font-size: 22px;
}

#fc_receipt_container {
  float: none;
  font-size: 18px;
  color: #8c8632;
}

#fc_receipt_heading {
  color: #8c8632;
}
#fc_receipt_container span.fc_pre {
float: none;
}