<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cart</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
<!-- BEGIN FOXYCART FILES -->
<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.23/style1_fc/colorbox.css?ver=1" type="text/css" media="screen" charset="utf-8" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.foxycart.com/ibhealing/foxycart.colorbox.js?ver=2" type="text/javascript" charset="utf-8"></script>
<!-- END FOXYCART FILES -->

<link rel="stylesheet" href="http://cenze.com/akashacollective/4/foxycustom.css">
    <link rel="stylesheet" href="http://cenze.com/akashacollective/4/custom.css">


    </head>    <body>

<nav class="navbar navbar-inverse ziz" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle-peach visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
  &#9776; MENU
      </button>
      <span class="navbar-brand hidden-xs">Irina Breslav, MS ARCB Board Certified Reflexologist</span>

    </div>

    <div class="collapse navbar-collapse ziz" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="{% if page.url == '/about.html' %}active{% endif %}"><a href="{{ site.baseurl }}/about.html">About Me</a></li>
      <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        <li class="{% if page.url == '/services.html' %}active{% endif %}"><a href="{{ site.baseurl }}/services.html">Services</a></li>
        <li class="{% if page.url == '/shop.html' %}active{% endif %}"><a href="{{ site.baseurl }}/shop.html">Shop</a></li>
          <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>

        
      </ul>
     
    </div>
  </div>
</nav>

<img src="http://i.imgur.com/kQbJYof.jpg" class="img-responsive hidden-xs">



 


<div class="container-fluid blood ziz padded-big">
	<div class="container blood ziz">
	<div class="col-md-8 col-md-offset-3">


^^checkout^^
		</div>
	</div>
</div>

      <script src="{{ relative }}/js/jquery.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>

</body>
</html>