---
layout: default
title: Home
---

<img src="/img/eyes2.jpg" class="img-responsive hidden-xs">



{% include irina.html %}



<div class="container-fluid padded-big">
  <div class="container">
    <div class="row">
      <div class="col-md-12 feetback">
             <br>
             <h1><strong><span class="mahogony"><strong>Reflexology</strong> </span> The Natural Way to Better Health <a href="/services.html" class="btn btn-lg btn-shop" role="button">Learn More</a> </h1>
       
      </div>
    </div>
  </div>
</div>
  <br>
  




  {% include wheel.html %}
  <img class="img-responsive" src="/img/banner.jpg">
  <div class="container-fluid feetback padded-big">
    <div class="container">
    {% include reflexologybenefits.html %}
    </div>
  </div>
{% include calltoday.html %}
{% include signup.html %}





