---
layout: default
title: Services
categories: services
---

<img src="/img/eyes2.jpg" class="img-responsive">
<div class="signup">
  <div class="container-fluid pink">
    <div class="container">
   {% include signup.html %}     
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <h1><span class="peach">Reflexology is</span></h1>
<p> A gentle non-intrusive touch therapy applied to the feet. 
Reflexology</p>
<p>
A science which is based on the principle that there are reflexes in the feet which correspond to each organ, gland and all parts of the body. By properly working on these reflexes we can help to relieve many health problems in a natural way.</p>
<p>
A serious advance in the health field and should not be confused with massage. 
</p>

  </div>
</div>



<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">How does it work?</span></h2>
    <p>A reflex is an involuntary or unconscious response to a stimulus. When the reflexes on the feet are stimulated, an involuntary response is elicited in organs and glands connected by energy pathways to these specific reflexes. </p>
    <p>

    Reflexologist trigger the reflexes using specific thumb and finger techniques. Although the microcosmic representation of the body parts is also evident in the ears and on the hands, the feet are particularly sensitive, due to the abundance, of over 7,000 nerve endings present. Nerves conduct electrical impulses. Imagine these impulses as channels of energy which connect the feet to the rest of the body. </p>
    <p>

    The body is dynamic energy field. For optimum functioning, energy must flow unimpeded and the yin and yang energy currents must compliment each other. Reflexology opens up these energy pathways, energizing the physical, emotional and mental aspects of the body. 




      </p>







    <h2><span class="peach">What Reflexology does</span></h2>
    <h5>
    <i class="fa fa-check-square-o"></i> Relieves stress and tension<br>
    <i class="fa fa-check-square-o"></i> Improves circulation and lymphatic flow<br>
    <i class="fa fa-check-square-o"></i> Gently encourages an overactive or underactive system back to balance<br>
    <i class="fa fa-check-square-o"></i> Enhances the immune system<br>
    <i class="fa fa-check-square-o"></i> Helps to unblock nerve impulse pathways<br>
    <i class="fa fa-check-square-o"></i> Brings flexibility to the feet and ankles necessary for proper posture<br>
    <i class="fa fa-check-square-o"></i> Aids in the elimination of body waste <br>
    </h5>
    <h2><span class="peach">Reflexology is</span></h2>
    <p>able to assist nature in its healing process and is powerful preventive health care. In discovering problems in your feet long before they become serious in the rest of the body we are able to take more control over our own health and health care.</p>
    <h2><span class="peach">Who can benefit from Reflexology?</span></h2>
    <p>Everyone! In this age of gadgets and machines that try to take place of human hands, it is important that we remember just why we go to a healing practitioner in the first place. It is for human contact which is so vital to our health and well-being. </p>


  </div>
</div>

<div class="container-fluid blood padded-big">
  <div class="container">
    {% include reflexologybenefits.html %}
  </div>
</div>

<div class="container-fluid">
  <div class="container">
        <h2><span class="peach">What people are saying after they experience reflexology with Irina Breslav</span></h2>

        <blockquote>
          <p>"Under Irina’s skillful hands my tension dissolved and a sense of flowing energy replaced it. Her dedication to healing is matched by her remarkable gifts for hands-on healing. I strongly endorse the integrity and effectiveness of this lady."</p>
          <footer>Ronald S. Ross<cite title="Source Title"> Executive Director The Transitions Institute</cite></footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>"I have never had a Reflexology treatment before nor do I particularly like anyone touching my feet. However, I took a chance with Irina Breslav and was handsomely rewarded with a more energetic and peaceful feeling after the treatment. I recommend her soft yet firm manner." </p>
          <footer>Rich S.BMW<cite title="Source Title"> Service Manager/Musician</cite></footer>
        </blockquote>
          
        <blockquote>
          <p>"During the first session with Irina, she discovered a crystalline deposit on the bottom of my foot, which was sharply painful. By the tenth treatment, the deposit was dissolved, the discomfort was completely gone, and I experienced a feeling of relief and comfort. Irina’s work provides excellent support in assisting the body’s return to its natural state of homeostasis, as well as deep relaxation."</p>
          <footer>Catharina H. Cupples<cite title="Source Title"> Reiki Master, Licensed Massage Therapist</cite></footer>
        </blockquote>

        <blockquote class="blockquote-reverse">
          <p>"I can definitely say it feels great and I enjoy having it almost everyday. Reflexology also helps to clear my nasal passages during the allergy seasons."</p>
          <footer>Marsha Kheyfets<cite title="Source Title"> Middle School Student</cite></footer>
        </blockquote>

          
        <blockquote>
          <p>"I experienced 15 sessions of Reflexology with Irina. She is a deep, spiritually centered person that brings her healing expertise to use via Reflexology and Reiki. I felt a complete circulatory rejuvenation throughout my body after her wonderful treatments. A definite plus to combat the stress of my sometimes hectic lifestyle. "</p>
          <footer>Vincent Lyn<cite title="Source Title"> Ph.D. Master of Martial Arts, Actor, Musician</cite></footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>"…with compassionate firmness she has improved my eyes and colon functions, my general balance. When I leave her office my feet are singing!"</p>
          <footer>Mary Randall<cite title="Source Title"> Artist, Lisensed Massage Therapist</cite></footer>
        </blockquote>


  </div>
</div>



<div class="container-fluid">
  <img class="img-responsive" src="/img/banner.jpg">
</div>

   {% include calltoday.html %}     

<div class="container-fluid">
  <img class="img-responsive" src="/img/characters3.jpg">
</div>




