---
layout: default
title: Services
categories: services
---

<img src="/img/eyes2.jpg" class="img-responsive hidden-xs">

<div class="container-fluid pink blood">
  <div class="container"> 
    <div class="headline"><h1>

           <span class="thin pea"> Reflexology + Reiki + Sound Healing + Aromatherapy + EFT + 
               Hypnotherapy  +  Nutrition + Far Infrared SOQI Bed </span></h1>
               <h3><span class="cream">My fees are 
                <strong>$110/hour</strong> for Reflexology/Reiki, Nutrition Consultations, EFT, Hypnotherapy.</span> <span class="lipstick">Hot Stones, Aromatherapy, Sound Healing offered as an adjunct therapies in each hands-on session with no additional charge. </h3></span>
                <p>Far InfraRed SOQI bed — $30 minimum, after that $15 per each 15 minute segment. It can be combined with Reflexology/Reiki healing, or used by itself for one hour minimum — $60.</p>
<p>The initial session is usually takes between 60 and 90 minutes, it is then you can make an intelligent choice about buying a package best suited for your health. </p>

<span class="peach"><p>Payment is expected in a form of cash, check or credit card at the end of each session.</span> </p>


    </div>
  </div>
</div>
<div class="container-fluid padded-sm">
  <div class="container">
    <h1><span class="peach">Reflexology is</span></h1>
<p> A complimentary, biological, integrative healthcare practice based on a highly specialized body of knowledge, where specific exercise pressure is applied to reflex areas in feet, hands and ears. A reflex is involuntary or unconscious response to a stimulus. When reflexes are stimulated, an involuntary response is elicited in organs and glands, connected by energy pathways to these specific reflexes. Feet are particularly sensitive due to the abundance of nerve endings — over 7,000 present in both. 

</p>





    <p class="lead"><span class="pea">Reflexology</span></p>
    <h5>
    <i class="fa fa-check-square-o"></i> Relieves stress and tension<br>
    <i class="fa fa-check-square-o"></i> Restores a healthy energy pattern<br>
    <i class="fa fa-check-square-o"></i> Improves blood circulation<br>
    <i class="fa fa-check-square-o"></i> Promotes lymphatic flow<br>
    <i class="fa fa-check-square-o"></i> Helps to unblock nerve impulse pathways<br>
    <i class="fa fa-check-square-o"></i> Enhances the immune system<br>
    <i class="fa fa-check-square-o"></i> Aids in the elimination of body waste <br>
    <i class="fa fa-check-square-o"></i> AEnergizes the physical, emotional and mental aspects of our body <br>
    </h5>
    
 

  </div>
</div>

<div class="container-fluid blood padded-sm">
  <div class="container">
    <h3><span class="pink">Packages Available</span><br><br>

        <span class="pea"><i class="fa fa-check-square-o"></i> </span>Save $100, when you buy ten hours package in advance — $1,000 <br>
<span class="pea"><i class="fa fa-check-square-o"></i> </span>Save $50, when you buy six hours package in advance — $610. </h3>
 </h2>

  </div>
</div>






<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Reiki is</span></h2>

<p>A Japanese word representing Universal Life Energy, the energy which is all around us.When activated and applied for the purposes of healing, Reiki addresses body, mind and spirit. Although Reiki is a means of working with energy that we cannot see, it is not a religion, and requires no particular belief system. The Usui System of Reiki, a natural healing art, was born out of the experience and dedication of Dr. Mikao Usui, a Japanese Christian educator In the late 1800s 
 </p>
<p>The Reiki practitioner is a channel for the energy and is therefore not actually "doing" the healing. The recipient's body determines the actual flow of energy, also where and how the energy will be used in that body. A Reiki treatment is light touch, hands-on process. It works in conjunction with and as an adjunct to medical and non-medical therapy. The experience of a Reiki treatment usually a deep feeling of warmth, well-being and comfort. Reiki healing is incorporated into each Reflexology session, which enhances the experience significantly, based on many reports of my clients.</p>

  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Nutritional consultation </span></h2>

<p>Will help you make the connection between what you eat and how you feel. I have life-changing nutrition story of my own, because I have overcome my own health challenges using the power of real food, supplements derived from whole food and high quality herbs I better understand how to help you.You will complete a health history and nutrition questionnaire so we can gain a thorough understanding of your health challenges and goals. Depending on your health and lab analysis supplements may be recommended to rebalance your biochemistry, to give you nutritional support.

 </p>


  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Past Life Regression is </span></h2>

<p>a branch of hypnotherapy, a therapeutic technique for accessing and re-experiencing your past lives directly.  According to William J. Bryan, Jr., founder of the American Institute of Hypnosis, hypnosis is a normal, physiological, altered state of consciousness, similar to, but not the same as being awake; similar to, but not the same as being asleep; and is produced by presence of two conditions: 1) a central focus of attention and 2) surrounding areas of inhibition. The state of hypnosis... produces three things:
 </p>



    <h5>
    <i class="fa fa-check-square-o"></i> Increased concentration of the mind<br>
    <i class="fa fa-check-square-o"></i> Increased relaxation of the body<br>
    <i class="fa fa-check-square-o"></i> Increased susceptibility to suggestion<br>
    
    </h5>
<p class="lead"><span class="pea">Past Life Regression helps you </span></p>
  <i class="fa fa-check-square-o"></i> Become more aware of your life’s purpose and lessons that might be learned from its challenges <br>
    <i class="fa fa-check-square-o"></i> Develop clarity about the true nature of relationships that are hard to understand–whether because they are very positive or very negative<br>
    <i class="fa fa-check-square-o"></i> Discover the unique characteristics of your soul so you can draw upon its strengths<br>
    <i class="fa fa-check-square-o"></i> Receive spiritual guidance that leads to effective solutions for resistant problems
<br>




  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Emotional Freedom Techniques - EFT </span></h2>

<p>as introduced in 1995 by Gary Graig, a Stanford Engineering graduate in lifelong pursuit of personal well-being. Based on the ancient principles of acupuncture, EFT is a simple tapping procedure that gently realigns the body's energy system. EFT incorporates an emotional element to the healing process, addressing unresolved emotional issues as a likely cause of physical disease, psychological dysfunction, and personal performance limits. Properly applied, EFT quickly realigns the energy pathways with respect to negative memories, disconnects the physical discomfort that we attached to it, and quite often remove the resulting symptoms. Extensive application of EFT has shown impressive improvements in a wide variety of issues, including:<br>
<p class="lead pea">Personal Performance: <strong>
  Abundance * Weight Loss * Business and Career Goals</strong><br>
<p class="lead pea">Emotional Challenges: <strong>
  Anger * Insomnia * Addictions * Phobias * Relationship Issues<br></strong>
<p class="lead pea">Physical Diseases: <strong>
  Allergies * Migraines * Pain management * Hypertension * Cancer * Chronic Fatigue<br></span></strong>
 </p>


  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Sound Healing
 </span></h2>

<p>s healing through sound or vibration. Every session in my office is accompanied by healing music with Hemi-Sync® technology, which was refined with over 50 years of research and development at The Monroe Institute, and supported by numerous independent studies, reports, and articles.The patented Hemi-Sync® technology has been scientifically and clinically proven to be effective. This unique audio-guidance process works through the generation of complex, multi-layered audio signals, which act together to create a resonance that is reflected in unique brainwave forms characteristic of specific states of consciousness.</p><p>
When you hear these through stereo headphones or speakers, your brain responds by producing a third sound (called a binaural beat) that encourages the desired brainwave activity. The result is a focused, whole-brain state known as hemispheric synchronization, where the left and right hemispheres are working together in a state of coherence. I also use the sound tracks produced by Tom Kenyon - a researcher, a therapist, a musician, sound healer and teacher.  I consider myself very lucky to be in the audience with him on my last workshop in Seattle and receiving his sound healing directly.  For over twenty years he has been a leader in the field of psycho-acoustics and the use of sound and music to access the creative abilities of the brain and mind. And you must hear him sing! 
 </p>


  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <h2><span class="peach">Aromatherapy is </span></h2>

<p>The art and science of creating wellness in humans  with essential oils. The roots of aromatherapy lie in the history of botanical medicine: for thousands of years flowers and plants have been used as natural medicine. I use the purest essential oils and time proven blends in my office with the diffuser, or with direct application. It is a synergistic approach of touch, smell and feeling through the healing session, that gives you the most beneficial results. Aromatherapy essential oils are used in each session with your permission. One of the oils - Peppermint, I get from my master Fr. Josef, its especially potent aroma comes from the land of the NorthEast Taiwan, where he works. I do offer it for sale.


 </p>


  </div>
</div>
<div class="container-fluid padded-sm">
  <div class="container">
    <h2><span class="peach">SOQI bed with Far Infrared (FIR) light </span></h2>

<p>Also known as Hyperthermia Dome.
FIR light is invisible part of the Sun's spectrum, not to be confused with ultra violet light, that can be damaging. The human body can easily absorb FIR, because its deep penetrating ability. Studies have shown, that FIR can penetrate up to 2-3 inches deep.  "And why is it good for me?" — you ask. Here it is!
 </p>









<p class="lead"><span class="pea">Hyperthermia helps to</span></p>
    <h5>
    <i class="fa fa-check-square-o"></i> Accelerate the biochemical metabolic processes of the entire body and increase detoxification significantly<br>
    <i class="fa fa-check-square-o"></i> Increases the permeability of cell membranes to water, oxygen, nutrients.<br>
    <i class="fa fa-check-square-o"></i> Supports reparative and regenerative processes<br>
    <i class="fa fa-check-square-o"></i> Increases overall circulation and promotes blood circulation of tissues and organs, opens clogged collateral vessels<br>
    <i class="fa fa-check-square-o"></i> Relieves the tonus of striated and smooth musculature causing muscle relaxation
Increase the velocity of nerve conduction<br>
    <i class="fa fa-check-square-o"></i> Activates sub-acute and chronic inflammation processes by way of promoting their cure<br>
    <i class="fa fa-check-square-o"></i> Influences the immunological system profoundly <br>
    <i class="fa fa-check-square-o"></i> At sufficiently high temperatures, restricts the propagation of microorganisms and viruses and malignant cell division <br>
    </h5>
    <p>Impressive! Yes, it is! Otherwise I would not invest  money and valuable space in my cozy office in Stamford.
</p>
  </div>
</div>
 </div>
</div>
<div class="container-fluid">
  <img class="img-responsive" src="/img/banner.jpg">
</div>

   {% include calltoday.html %}     

<div class="signup">
  <div class="container-fluid pink">
    <div class="container">
   {% include signup.html %}     
    </div>
  </div>
</div>



