---
layout: default
title: Services
categories: services
---

<img src="/img/eyes2.jpg" class="img-responsive hidden-xs">

<div class="container-fluid pink blood">
  <div class="container"> 
    <div class="headline"><h1>Healing through relaxation and expanded awareness.<br>

           <span class="thin pea"> <strong>Services Include:</strong> Reflexology | Reiki | Nutrition |
               Aromatherapy | Emotional Freedom Technique | Sound Healing | Hypnotherapy </span></h1>
    </div>
  </div>
</div>
<div class="container-fluid padded-sm">
  <div class="container">
    <h1><span class="peach">Reflexology is</span></h1>
<p> A gentle non-intrusive touch therapy applied to the feet. 
Reflexology</p>
<p>
A science which is based on the principle that there are reflexes in the feet which correspond to each organ, gland and all parts of the body. By properly working on these reflexes we can help to relieve many health problems in a natural way.</p>
<p>
A serious advance in the health field and should not be confused with massage. 
</p>


    <h2><span class="peach">How does it work?</span></h2>
    <p>A reflex is an involuntary or unconscious response to a stimulus. When the reflexes on the feet are stimulated, an involuntary response is elicited in organs and glands connected by energy pathways to these specific reflexes. </p>
    <p>

    Reflexologist trigger the reflexes using specific thumb and finger techniques. Although the microcosmic representation of the body parts is also evident in the ears and on the hands, the feet are particularly sensitive, due to the abundance, of over 7,000 nerve endings present. Nerves conduct electrical impulses. Imagine these impulses as channels of energy which connect the feet to the rest of the body. </p>
    <p>

    The body is dynamic energy field. For optimum functioning, energy must flow unimpeded and the yin and yang energy currents must compliment each other. Reflexology opens up these energy pathways, energizing the physical, emotional and mental aspects of the body. 




      </p>







    <h2><span class="peach">What Reflexology does</span></h2>
    <h5>
    <i class="fa fa-check-square-o"></i> Relieves stress and tension<br>
    <i class="fa fa-check-square-o"></i> Improves circulation and lymphatic flow<br>
    <i class="fa fa-check-square-o"></i> Gently encourages an overactive or underactive system back to balance<br>
    <i class="fa fa-check-square-o"></i> Enhances the immune system<br>
    <i class="fa fa-check-square-o"></i> Helps to unblock nerve impulse pathways<br>
    <i class="fa fa-check-square-o"></i> Brings flexibility to the feet and ankles necessary for proper posture<br>
    <i class="fa fa-check-square-o"></i> Aids in the elimination of body waste <br>
    </h5>
    <h2><span class="peach">Reflexology is</span></h2>
    <p>able to assist nature in its healing process and is powerful preventive health care. In discovering problems in your feet long before they become serious in the rest of the body we are able to take more control over our own health and health care.</p>
    <h2><span class="peach">Who can benefit from Reflexology?</span></h2>
    <p>Everyone! In this age of gadgets and machines that try to take place of human hands, it is important that we remember just why we go to a healing practitioner in the first place. It is for human contact which is so vital to our health and well-being. </p>


  </div>
</div>

<div class="container-fluid blood padded-big">
  <div class="container">
    {% include reflexologybenefits.html %}
  </div>
</div>

<div class="container-fluid padded-sm">
  <div class="container">
       {% include testimonials.html %}
  </div>
</div>



<div class="container-fluid">
  <img class="img-responsive" src="/img/banner.jpg">
</div>

<div class="container-fluid padded-sm">
  <div class="container">
    <h2><span class="peach">What is Reiki?</span></h2>

<p>Reiki (pronounced Ray-Key) is a Japanese word representing Universal Life Energy, the energy which is all around us.</p>
<p>Reiki, when activated and applied for the purposes of healing, addresses body, mind and spirit. Although Reiki is a means of working with energy that we cannot see, it is not a religion, and requires no particular belief system. </p>
<p>The Usui System of Reiki, a natural healing art, was born out of the experience and dedication of Dr. Mikao Usui, a Japanese Christian educator. In the late 1800's Dr. Usui responded to a challenge from his university students by undertaking an extensive study of the healing phenomena of history's greatest spiritual leaders. Through travel, study, research and meditation he evolved a system of healing based on ancient Buddhist teachings. </p>

<h2><span class="peach">What is a Reiki Practitioner?</span></h2>
<p>The Reiki practitioner is a channel for the energy and is therefore not actually "doing" the healing. The recipient's body determines the actual flow of energy, also where and how the energy will be used in that body. A Reiki treatment is light touch, hands-on process. It works in conjunction with and as an adjunct to medical and non-medical therapy. </p>
  </div>
</div>
<div class="container-fluid blood padded-med">
  <div class="container">
    <h2><span class="thin pea">The experience of a Reiki treatment usually a deep feeling of warmth, well-being and comfort. Reiki healing is incorporated into each Reflexology session.</span></h2>
  </div>
</div>
 </div>
</div>
   <div class="container-fluid padded-med">
  <div class="container">
   <h2><span class="peach">Depending on your individual therapeutic needs, one or more of the following modalities may be included in your session to complement treatment.</span></h2>
    <div class="col-md-10 col-md-offset-2">


                  <h3>
                   <i class="fa fa-check-square-o"></i> Nutrition <br><br>
                   <i class="fa fa-check-square-o"></i> Aromatherapy<br><br>
                   <i class="fa fa-check-square-o"></i> Emotional Freedom Technique<br><br>
                   <i class="fa fa-check-square-o"></i> Sound Healing<br><br>
                   <i class="fa fa-check-square-o"></i> Hypnotherapy<br>
                  </h3>

    </div> 
    

</div>
</div>
   {% include calltoday.html %}     

<div class="signup">
  <div class="container-fluid pink">
    <div class="container">
   {% include signup.html %}     
    </div>
  </div>
</div>



