---
layout: default
title: Sessions
---

<img src="/img/eyes2.jpg" class="img-responsive hidden-xs">



<div class="container-fluid film-full">
  <div class="container">
 

                    <h2><span class="pea">In My Practice it is All About You </span></h2>
<p>It is all about your needs/desires for improved health and well beingIt is all about you leaving my healing room after 1 hour, or 1.5 hour session, feeling relaxed, rejuvenated, recharged. It is all about you getting this  ELEVATED feeling. It is in the cradle of my home healing studio in Stamford or serene room of my Greenwich office at Lotus Wellness Center you will receive the outmost attention to your questions about your health situation and well-being, together we will find the solution to your health challenges. From the soles of your feet to the soul of yours we will discover the pathways you did not feel before. I have been practicing Professional Reflexology - therapeutic model, for the last 15 years and learning along the way many other healing modalities that go along so well together.</p>
<p>
Each session includes hands-on Reflexology/Reiki in the room with BOSE  surround sound system. It allows to use the healing system of Hemi-Sync®  binaural beat technology to help you experience enhanced mental, physical, and emotional states. The pleasant heat of hot stones spreading from the feet up, aromatherapy with best essential oils and blends to your specific needs, full report on Reflexology findings combined  with intuitive insights, suggestions on your nutritional protocol, referral to other health care professionals, if warranted - it is all yours to enjoy. Hands and Ears Reflexology is offered for those who love it, or want to experience it for the first time. 
</p>
<p>
You may chose to have your session on Far Infra Red (FIR) SOQI bed to combine the benefits of FIR with Reflexology/Reiki and Aromatherapy in one session.
</p>
<p>
If you are interested to explore your your Past Lives, and yes, there are far more then one. You can have a 90 minute session of Past Life Regression,with me. Curious? Check out "Many lives, many masters" by Dr. Brian Weiss, or watch his "Youtubes" 
</p>
<p>
Nutritional consultation may be incorporated into our Reflexology/Reiki session as introduction to the topic, or stand on its own with detailed questionaries, and action plan to follow, including Mineral Tissue Analysis, or smartDNA testing - quite an advance in modern nutritional science.
</p>
<p>
You may have heard already about Energy Medicine, or Tapping  as a solution to many emotional  or physical health issues. We may delve with you into the art of EFT - Emotional Freedom Techniques, and I will teach you how to tap to eliminate fear of flying, or silly addiction to "Red Bull" drinks,  just to name few. The list is endless . Let us have an EFT session.
In my healing space it is all about you, starting with the fresh glass of ginger/lemon water in the waiting room for you and finishing with home made healthy snacks or demonstration how to make one in the comfort of your own kitchen.
</p>
<p>
I am always available to you over the phone or via email, I am returning your messages within a day, researching health subject for you to the best of my ability, treating you, as you want to be treated  with kindness and care.  It is ALL About YOU!</p><br><br>
       </div>
     </div>
        {% include calltoday.html %}  
<div class="signup">
  <div class="container pink">
{% include signup.html %}
</div>
</div>

