
 <!-- insert to header -->
<link rel="stylesheet" href="https://rawgit.com/akshcllctve/cloaked-octo-wallhack/master/css/bootstrap.css">
         <link rel="stylesheet" href="https://rawgit.com/akshcllctve/cloaked-octo-wallhack/master/css/custom.css">
         <link rel="stylesheet" href="//cdn.foxycart.com/static/frameworks/bootstrap/3.0.0-sass/css/bootstrap.fc.css">
		<link href="//cdn.foxycart.com/static/fonts/font-awesome-3.1.2/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://ibhealing.foxycart.com/static/themes/responsive/styles.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" charset="utf-8"></script>
		<script src="//cdn.foxycart.com/ibhealing/foxycart.jsonp.sidecart.js?ver=1" charset="utf-8"></script>
 <!-- insert before closing body tag -->
		   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>