<div class="container-fluid blood ziz padded-sm">
  <div class="container">
    <div class="row">
    

      <div class="col-md-7">
        <div class="row">
  
         <h2>

            <span class="pea">Reflexology + Reiki + Sound Healing + Aromatherapy + EFT + 
               Hypnotherapy  +  Nutrition + Far Infrared SOQI Bed </h2></span>
              
               
              <p class="lead">Mon - Fri:  10 am - 8 pm<br>
              Sat: 9 am - 3 pm<br>
                Sun: by appointment<br></p>
                <p><span class="pink">All visits are by Appointment Only</span></p>
            <p>House visits available<br>
            Gift Certificate for all occasions<br>
              Open for Corporate Programs and speaking engagements<br></p>
               <p><span class="pink">Offices in <span id="link"><a href="https://www.google.com/maps/place/1441+High+Ridge+Rd,+Stamford,+CT+06903/@41.1203307,-73.5437924,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2a14c25ae7927:0xe1e3052afd1083d" target="_blank">Stamford</a></span> and <span id="link"><a href="https://www.google.com/maps/preview?q=46+Pemberwick+Rd+Greenwich,+CT+06831&ie=UTF-8&hq=&hnear=0x89c2977de40dbeab:0xfbeffe7232d9e32f,46+Pemberwick+Rd,+Greenwich,+CT+06831&gl=us&ei=S2bJU9_xIYacyAS0poCACA&ved=0CBwQ8gEwAA" target="_blank">Greenwich</a></span>, CT</span><br></p>
               <p><span class="pea"><i class="fa fa-phone-square"> <strong>(203) 968.6824 </strong></i> <span class="pea">
      <i class="fa fa-envelope-o" alt="visit us on twitter"></i> irina@ibhealing.com </span> </p>

          <p><span class="social"> <a href="https://www.facebook.com/irina.breslav.1" target="_blank"><i class="fa fa-facebook-square fa-3x" alt ="visit us on facebook"></i></a> &nbsp&nbsp&nbsp
                <a href="www.linkedin.com/pub/irina-breslav-ms-arcb/17/712/709" target="_blank"><i class="fa fa-linkedin-square fa-3x" alt="visit us on twitter"></i></a></span></p>
        </div>
        </div>

          <div class="col-md-5"><br>
        <img src="/img/headshot.jpg" class="thumbnail">
        <h2><span class="pink">Irina Breslav </span><span class="lipstick">MS,
            ARCB<br> Board Certified Reflexologist</span> </h2><br>
      
      </div>
     
      </div>
    </div>
  </div>

