<div class="container-fluid blood ziz padded-med">
  <div class="container">
    <div class="row">
    

      <div class="col-md-7">
        <div class="row">
  
         <h2><span class="pink">Irina Breslav </span><span class="lipstick">MS
            ARCB Board Certified Reflexologist</span> <span class="pink">Located in Stamford, CT.</span>

            Reflexology | Reiki | Nutrition 
               Aromatherapy | Emotional Freedom Techniques | Sound Healing | Hypnotherapy </h2><br>
               <h3>Hours: M-F 9-5 <span class="pink thin">Offices in Stamford and Greenwich, CT</h3></span>

          <span class="social"> <a href="http://facebook.com/therawfoodinstitute" target="_blank"><i class="fa fa-facebook-square fa-5x" alt ="visit us on facebook"></i></a> &nbsp&nbsp&nbsp
                <a href="http://twitter.com/rawfoodinst" target="_blank"><i class="fa fa-twitter-square fa-5x" alt="visit us on twitter"></i></a></span>
        </div>
        </div>

          <div class="col-md-5"><br>
        <img src="/img/headshot.jpg" class="thumbnail">
      
      </div>
     
      </div>
    </div>
  </div>
