<nav class="navbar navbar-inverse ziz" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle-peach visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
  &#9776; MENU
      </button>
      <span class="navbar-brand hidden-xs">Irina Breslav MS, ARCB Board Certified Reflexologist</span>

    </div>

    <div class="collapse navbar-collapse ziz" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="{% if page.url == '/aboutme.html' %}active{% endif %}"><a href="{{ site.baseurl }}/aboutme.html">About Me</a></li>
        <li class="{% if page.url == '/services.html' %}active{% endif %}"><a href="{{ site.baseurl }}/services.html">Services</a></li>
                <li class="{% if page.url == '/testimonials.html' %}active{% endif %}"><a href="{{ site.baseurl }}/testimonials.html">Testimonials</a></li>
                    <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>

      
      

        
      </ul>
     
    </div>
  </div>
</nav>