<nav class="navbar navbar-default navbar-static-top" role="navigation">


    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
 
      <span class="navbar-brand hidden-xs"></span>

    </div>

   
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="{% if page.url == '/services.html' %}active{% endif %}"><a href="{{ site.baseurl }}/services.html">Services</a></li>
                    <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>

      
      

        
      </ul>
     


</nav>