

          <h2><span class="peach"> Experience Relief from:</span></h2>
    <div class="col-md-5 col-md-offset-2">


                  <h3>
                   <i class="fa fa-check-square-o"></i> Allergies & Sinus Problems <br><br>
                   <i class="fa fa-check-square-o"></i> Headaches & Migraines<br><br>
                   <i class="fa fa-check-square-o"></i> Arthritis<br><br>
                   <i class="fa fa-check-square-o"></i> Back Pain<br><br>
                   <i class="fa fa-check-square-o"></i> Constipation<br><br>
                   <i class="fa fa-check-square-o"></i> Plantar Fasciitis<br><br>
                   <i class="fa fa-check-square-o"></i> Neuromas<br><br>
                   <i class="fa fa-check-square-o"></i> Circulatory Issues<br><br>
                   <i class="fa fa-check-square-o"></i> Cystitis<br><br>
                    <i class="fa fa-check-square-o"></i> Brain Fog<br><br>
                    <i class="fa fa-check-square-o"></i> Side effects of conventional cancer treatments
                  

                  </p>

    </div>  
    <div class="col-md-5">


                  <h3>
                   <i class="fa fa-check-square-o"></i> Asthma<br><br>
                   <i class="fa fa-check-square-o"></i> Insomnia<br><br>
                   <i class="fa fa-check-square-o"></i> Depression<br><br>
                   <i class="fa fa-check-square-o"></i> PMS & Menopause<br><br>
                   <i class="fa fa-check-square-o"></i> Digestive Difficulties<br><br>
                    <i class="fa fa-check-square-o"></i> Fatigue<br><br>
                   <i class="fa fa-check-square-o"></i> Eating Disorders<br><br>
                   <i class="fa fa-check-square-o"></i>  Diabetes<br><br>
                   <i class="fa fa-check-square-o"></i>   Kidney Stones<br><br>
                   <i class="fa fa-check-square-o"></i> Water Retention
                 </p>
    </div>
 
         

      
      
      
      
      
      
     
    
      
    
      