 <a href="/"> <img src="/img/wendys.jpg" class="img-responsive"></a>
        {% include about.html %}
        {% include social.html %}
  

  
     
        <div class="blog-index">  
        <h4>Blog Archive</h3>
          <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}" class="purple-font"><strong>{{ post.title }}</strong>, {{ post.date | date: '%B %d, %Y' }}</a>

            </li>
          {% endfor %}
        </ul>
      </div>
  
    <div>  
        <h4>Tags</h3>
      <ul class="tags">
{% for tag in site.tags %}

        <a href="{{ site.baseurl }}/tag/{{ tag | first | slugize }}">
          <span class="lead">#{{ tag | first }} </span>
        </a>

{% endfor %}
  </ul>


   <h4 class="title">Instagram</h3>
      <div class="widget-content clearfix" id="instafeed"></div>
  