<div class="signup">
  <div class="container pink">
    <form action="http://akashacollective.createsend.com/t/d/s/vkuki/" method="post">
 <h2><strong>Sign Up for my newsletter</strong> 

      
        <input id="fieldName" name="cm-name" type="text" class="input-field" placeholder="Name"/>
   
  
        <input id="fieldEmail" name="cm-vkuki-vkuki" type="email" class="input-field" required placeholder="Email"/>
  
        <button type="submit" class="btn btn-subscribe">Sign Up</button></h2>
 
		</form>
	</div>
</div>