<form action="http://getsimpleform.com/messages?form_api_token=2756d9be66c519dc7a679022a1c54aeb" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  <input class="form-control required email"  placeholder="Your email" type='email' name='email' />
  <textarea class="form-control" rows="3" name="message" placeholder="message"></textarea>
    <button type="submit" class="btn btn-danger btn-block">Submit</button>
</form>