
   <br>  <br>  
   <a href="https://twitter.com/#" class="social" target="_blank"><span class="purple-font"><i class="fa fa-twitter fa-2x"></i> </a>


               <a href="https://www.facebook.com/wendy.sorquist" class="social" target="_blank"><span class="purple-font"><i class="fa fa-facebook fa-2x"></i> </span></a> 

                   <a href="http://instagram.com/pinkuniquist" class="social" target="_blank"> <span class="purple-font"><i class="fa fa-instagram fa-2x"></i> </span> </a></span>

                   <a href="https://www.linkedin.com/pub/wendy-sorquist/35/310/8b8" class="social" target="_blank"> <span class="purple-font"><i class="fa fa-linkedin fa-2x"></i> </span> </a></span>
<br>


