
<br>

 <blockquote>
          <p> I have been a Type II Diabetic for more than 26 years, somewhat controlled with pills and over the past five years replaced with dosages of insulin. During this period my readings fluctuated between 165 dmo. and 200 dmo daily. I started with Reflexology at the recommendation of my daughter in November 2012 in order to rebuild my body and overall health and redevelop a sense of well being. Much to my amazement I noticed my need for insulin was becoming less and less. I went from 54 units daily to 20 units!!!My primary doctor cannot find an explanation for such change. I believe, however, this change is due to Irina Breslav's Reflexology treatments, that stimulate my pancreas and kidney functions. I continue to with my Reflexology sessions , as I strongly believe in the benefits this complementary medicine has given me. Sincerely, 
             <footer>Melvin Bye. 2013
 </blockquote>

        <blockquote class="blockquote-reverse">
“irina is a God given blessing we have been lucky to encounter for years.  In a unique combination of knowledge, extremely wide in scope yet detailed in character, spirituality, in-depth understanding of human nature and endless care for her clients she manages to help and treat what at times seems to be untreatable.  Her warm personality, personal touch, and professionalism embedded in the calm and cozy atmosphere of her therapeutic setting promote an ambiance of healing.  There was not one time in which she failed to send us in a significantly better shape leaving her office than when we have entered it.  There are not enough words to sincerely thanks Irina for the help and support she has given us and will be happy to recommend her outstanding capabilities.”
<footer>Noni Eden-Davidai, <cite title="Source Title">LCSW, PhD</cite> &  Giora Davidai, <cite title="Source Title">MD 11.25.12</cite></footer>

    </blockquote>

    <blockquote>
Dear Irina
The depth of your experience as a healer has enabled me to get to the next level in my own healing process. I am so grateful to you for the gift of your hands, which guide us both to the underlying causes of inflammation and imbalance!  When I first started seeing you I was frustrated about how to address recurring sinus issues, having taken many paths of alternative healing methods from change of diet to change of attitude and environment.

Through reflexology and your ability to ask the right questions about what's going on in my life (including the dreamlife) I could safely feel my sinuses releasing the hold they had on my eyes, nose, temples and throat. Is it the after shave that my husband was wearing or is it the masculine? Addressing the underlying cause of the imbalance was precise and directional.

As we continue the journey I've come to realize what it means to heal physically, mentally, emotionally and spiritually. Thank you for holding such a warm and safe energetic space for this to happen. I no longer suffer from symptoms related to sinus imbalance. Other issues like TMJ, sciatica and pre-diabetes have all been looked at with a new set of eyes and ears. I know that my body no longer needs to hold onto these issues and that with patience and courage to go deeper into the causes I can return to a place of balance, harmony and peace. Thank you Irina!

Respectfully yours,
With Love,
 <footer>Laura, 2013
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
It was interesting I was "high" for a period afterward almost what I would describe as peaceful with shall we say "good will towards all"My focus was up.It faded somewhat by the end of along day, but was definitely was a nice non drug induced high. I am impressed personally and professionally. 
 <footer>James.J.G, MD 8/99
    </footer>
    </blockquote>


        <blockquote>
          <p>"Under Irina’s skillful hands my tension dissolved and a sense of flowing energy replaced it. Her dedication to healing is matched by her remarkable gifts for hands-on healing. I strongly endorse the integrity and effectiveness of this lady."</p>
          <footer>Ronald S. Ross<cite title="Source Title"> Executive Director The Transitions Institute</cite></footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>"I have never had a Reflexology treatment before nor do I particularly like anyone touching my feet. However, I took a chance with Irina Breslav and was handsomely rewarded with a more energetic and peaceful feeling after the treatment. I recommend her soft yet firm manner." </p>
          <footer>Rich S.BMW<cite title="Source Title"> Service Manager/Musician</cite></footer>
        </blockquote>
          
        <blockquote>
          <p>"During the first session with Irina, she discovered a crystalline deposit on the bottom of my foot, which was sharply painful. By the tenth treatment, the deposit was dissolved, the discomfort was completely gone, and I experienced a feeling of relief and comfort. Irina’s work provides excellent support in assisting the body’s return to its natural state of homeostasis, as well as deep relaxation."</p>
          <footer>Catharina H. Cupples<cite title="Source Title"> Reiki Master, Licensed Massage Therapist</cite></footer>
        </blockquote>

      
        <blockquote class="blockquote-reverse">
          <p>"…with compassionate firmness she has improved my eyes and colon functions, my general balance. When I leave her office my feet are singing!"</p>
          <footer>Mary Randall<cite title="Source Title"> Artist, Lisensed Massage Therapist</cite></footer>
        </blockquote>

       <blockquote>

“…my shoulders have not been stiff at all since my original June appointment...that is practically miraculous. Once in a great while, if I overdo in my garden or at the gym, they are, but really they are not chronic anymore. That's a huge improvement.” 
 <footer>B.M <cite title="Source Title">Old Greenwich, 8.16.12</cite></footer>
 </blockquote>

        <blockquote class="blockquote-reverse">
“I loved the session. I felt very light, peaceful in a joyous rather than quiet way. It is a wonderful prelude to teaching Yoga allowing students to receive your work through me. You have an ability to reach deeper than it appears on the surface allowing for a shift full of clarity, security and grace"
 <footer>Anne Finan, MS, CYT,  www.theanandacenter.com 2.15.09</footer>
    </footer>
    </blockquote>

       <blockquote>
“I very much enjoyed our session on Mon night. I love it how you add levity to situations! You are the best - and I mean that: I am thankful that you are in my life. I have been feeling pretty good all week despite having so much work to do. I met with my career coach today - and we mapped out a plan to get me a new job!! 
 <footer>R.S. Wilton 3.7.2012
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
“What you did for me was truly wonderful and so appreciated. I was able to fly to NV and CA and feel good and strong the whole time. Thank you, thank you, my friend.
Have a wonderful week-end and know how much I love and appreciate you.”~ 
 <footer>Gurudevi 11.23.12
    </footer>
    </blockquote>

       <blockquote>
“thank you! today session was a break through for me. I will definitely work on those issues especially if they will make my mom happy. Bless you and your family. I am so glad our in our life”.
 <footer>N.V Stamford 12.15. 12
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
“I've been seeing Irina for reflexology for years and she is hands down the best.” 
 <footer>Betsy Roberts 11.27.12
    </footer>
    </blockquote>
       <blockquote>




“I just wanted to tell you how much better I felt today, and I think it had A LOT
to do with our session yesterday.  It is the first day for awhile that I have felt
my old energy returning and my spirits lifting.  Granted, I had  major sweats
last night (almost felt like when I first began menopause).  Perhaps my body
was doing some "clearing?" Anyway, I have felt terrific all day today and thank
you, as I think you definitely had a hand (if you'll pardon the pun) in this.
By the way, I was totally aware after I left and for the rest of the evening of the
most wonderful smell, which must have come from what you used on my feet.
It was such a pleasure to actually smell something! Fondly, 
 <footer>B.M.Greenwich 4.14.10
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
“I think of you often because I really loved coming to see you. I would like to share your work with some of our customers.   Also,  some of the suggestions that you made for me were "spot on."  I really benefited from your guidance, and I thank you for that.”   
 <footer>Margaret W. New Canaan 4.2.10
    </footer>
    </blockquote>

       <blockquote>

“I want to thank you so much for the beautiful session yesterday.  I am feeling much better on all levels. I so appreciate your generosity and kindness.” 
 <footer>A.S. New Canaan 3.31.2012
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
“After suffering from a muscle injury in my back, I was in search of some type of healing. The pain I was experiencing was constant and nearly debilitating. I could not do my normal daily activities like driving, and going to the gym. Acupuncture seemed temporary, and massages only further irritated my back. Thankfully, I finally discovered the miraculous therapy of reflexology. Now I finally feel like myself again, and I’m able to do all of the activities I enjoyed prior to injuring my back. If you have a nagging injury or if you're simply looking for a relaxing experience to clear the mind and soothe your body, please do yourself a favor and call Irina Breslav. I cannot express how much her therapy service has helped me recover from my wounds. The effects are not instant but by the day after therapy you are sure feel refreshed and find that your pain and stress will have dissipated.” 
 <footer>Josh B. Stamford 11.16.2012
    </footer>
    </blockquote>

       <blockquote>

“Dearest Irina - I have to tell you that my back in particular has been so so much better since our session.  My feet are feeling less tight and very little burning as well.Amazing!xxoo!!!” 
 <footer>Arden 4.5.12
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
“You are a dear and I am so touched by your thoughts and wishes......you are a gift in my life and no way would I forget you and have your name and number right at hand....thank you so much for your spirituality and the gift of healing with those tender hands of yours....” 
 <footer>J.N. Darien 12.4.12
    </footer>
    </blockquote>

       <blockquote>



“You are a dear person !!Glad I have you in my life during this trying time for me !! You are a true healer!!! Reflexology is what helps me the most. Xo 
 <footer>J.S. Darien 1.21.12
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
I wanted to thank Irina so much for a wonderful reflexology session.  She is very talented and was able to locate every single area in my body that holds tension or stress.  Her studio is also beautiful and very soothing -- and Irina herself is full of compassion.  If you have ever wondered about reflexology, you should give it a try with Irina -- you will not be disappointed.
 <footer>Janet Zimmer www.zimmerphotography.com
    </footer>
    </blockquote>

       <blockquote>

You are a great healer Irina, and I have the utmost respect and love for you, and moreover the healing I am receiving from you through reflexology, Reiki, and EFT; are what I need at this juncture of my life-unfolding,
My dearest Irina, accept my love and gratitude, which is coming from the deep of my heart.Thank you, Thank you, Thank you,For being such an Angel to me 
 <footer>Mario</footer>
    </blockquote>


        <blockquote class="blockquote-reverse">
Hi Irina my mom just called me to tell me how well Karen is doing after the session she had with you. She improved so much! Thanks! You have the most amazing hands!
Love,
 <footer>Sherry
    </footer>
    </blockquote>

       <blockquote>
You are a beautiful person with a great soul and I love to spend the special time with you every week. love, 
 <footer>ellen
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">

"I loved the light(FIR). Thank you for all that you do. I felt wonderful after my session. xo Michele Perri
    </footer>
    </blockquote>

       <blockquote>

Thank you so much for all of the wonderful healing yesterday
I am so much better today- barely a trace left of my cold! I am still drinking lots if hot lemon/ginger water😊I also love and embrace your intuition. Much love and gratitude
 <footer>Phyllis
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
Hi Irina,
I was SO happy with your service! After my session I felt very relaxed, and still do. I have not needed to take my nightly dose of Xanax (.5 mg) since my appointment. I have more energy, less anxiety and overall in a better mood.
I'm sleeping really well and am not waking up in the middle of the night like I used to. I also wake up feeling refreshed in the morning.

My bowels are much easier to empty and it's comfortable to go (it only takes me one try now!) and I feel like I am getting rid of a lot more waste than before.

I do have a little pain in my ovaries, but nothing major and quite common with my endometriosis. My feet were also a little sore after my appointment but that's gone now.

I am very pleased with these positive effects and will definitely be calling to make another appointment.
Thank you so much, you're the best! 
 <footer>Jessica. D. feb.10,14
    </footer>
    </blockquote>

       <blockquote>

Irina, thank you for the remarkable session yesterday. i truly appreciate your kindness and honesty.  it was life altering. i find myself renewed and at peace.
smiles, 
<footer>marilyn10-25-09
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
Hi Irina,

As you completed the session I felt the blood begin to flow again to my hand
and fingers.  By the time I was back to the office my hand was back to
normal.   Thank you!
Thanks for listening and all your efforts.Sincerely,
 <footer>Gerri Mac 6-21-10
    </footer>
    </blockquote>

       <blockquote>

 …woke up this morning with no discomfort. You did it again. You have healing powers for sure. I worked out with a light Velcro brace on and I still feel good. Doesn't even look swollen!
  <footer>Robyn.B March 7,2014
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
Thank you again so very much for your gift, Irina.  You are someone who, after time and space, I feel truly understands me. I value your opinion, experience and spirit and feel you as a guiding light along my way. I am forever grateful. Xo 
 <footer>R.J. 4/8/14
    </footer>
    </blockquote>

       <blockquote>

Irina, thank you for the remarkable session yesterday. i truly appreciate your kindness and honesty.  it was life altering. i find myself renewed and at peace.
 <footer>Marilyn P. 10/25/09
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
Thank you so much for all of the wonderful healing yesterday
I am so much better today- barely a trace left of my cold! I am still drinking lots if hot lemon/ginger water😊 I also love and embrace your intuition
Much love and gratitude 
 <footer>Phyllis 1-28-14
    </footer>
    </blockquote>

       <blockquote>

The infra red table was truly a beneficial experience for me. My skin calmed down , and my back relaxed among many of the other benefits that I am not even aware of.
I will be sure to request it next time we meet.
Much love and many blessings. 
 <footer>c.a.4-20-14
 </footer>
    </blockquote>

        <blockquote class="blockquote-reverse">
I never told you, that your last treatment was so successful, that I have NOT had any of that severe pain, with which I came to you.
You are a treasure.
 <footer>Erika 6-9-14
    </footer>
    </blockquote>

       <blockquote>

Though my head/sinuses were hurting pretty badly toward the end of our session, after our session it subsided significantly (it is not totally gone, but what is left I am managing). Most profoundly for me though, I have had such ENERGY and with that have felt a lot of joy/contentment/silliness. I feel like I've been wired ever since our session and it feels so amazing given my normal low energy/fatigue. In fact, right when I got home yesterday I hula hooped for an hour outside and wasn't able to fall asleep until 3 a.m.! Today the energy continues, I feel so clear-headed and physically energized like the energizer bunny! I always have said "I wish I could be one of those people who has all this energy to do things, be productive, exercise, etc. etc." and last night and today I finally feel like that person. Thank you so much! 
 <footer>C. L.6-21-14
</footer>
    </blockquote>

<blockquote class="blockquote-reverse">
I was going to write you anyway, to tell you the session was a great success.  I enjoyed meeting you and our talk very much.  The reflexology was successful!  Regarding attitude and energy, much improved.  Regarding knee, also much improved (today I was at gym, I normally can bike for 10-15 min before pain, today was 20+ min, and I could life more weight on it as well, and it was less angry driving home).  <rooter>I am hugely grateful!G.K.
 </footer>

 <blockquote>I very much enjoyed my session with you, and have already recommended you to others. I was most moved by your energetic/soul-level perceptions of where I am in my journey right now.
My neck feels softer and less strained.
I am already looking forward to seeing you again</blockquote>
<footer>Fondly,D.W. 7/16/14</footer>
